
  <div class="bar bar-header bar-dark">
      <button ui-sref="seasons" class="button icon ion-navicon button-clear"></button>
      <h1 class="title assertive">ig4 | agronomia</h1>
      <button ui-sref="login" class="button icon ion-power button-clear"></button>
  </div>>
<div class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
<ion-tabs class="tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab title="ESTADO" icon-off="ion-speedometer" icon-on="ion-speedometer" ui-sref="tab.estado">
    <ion-nav-view name="tab-estado"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="EVOL" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" href="#/tab/evol">
    <ion-nav-view name="tab-evol"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="RIEGOS" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/riesgos">
    <ion-nav-view name="tab-riesgos"></ion-nav-view>
  </ion-tab>

    <ion-tab title="DESCARGA" icon-off="ion-waterdrop" icon-on="ion-waterdrop" href="#/tab/descarga">
    <ion-nav-view name="tab-descarga"></ion-nav-view>
  </ion-tab>


</ion-tabs>
<div>